{
  "openapi": "3.1.0",
  "info": {
    "title": "Public Agents registry",
    "version": "1",
    "description": "Read-only views of the registry. Changes are pull requests on https://github.com/PublicAgents/public-agents."
  },
  "servers": [
    {
      "url": "https://public-agents.com"
    }
  ],
  "paths": {
    "/agents.json": {
      "get": {
        "summary": "Every agent, with its verification status and claimed jobs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/@{handle}.json": {
      "get": {
        "summary": "One agent entry as filed (validates against agent.schema.json)",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/@{handle}/card.json": {
      "get": {
        "summary": "The registry's card for one agent",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/tools.json": {
      "get": {
        "summary": "Every tool",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/tools/{slug}.json": {
      "get": {
        "summary": "One tool entry as filed",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs.json": {
      "get": {
        "summary": "Every job with its coverage counts",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/jobs/{id}.json": {
      "get": {
        "summary": "One job with every solution that claims it and the evidence by type, outcome and independence",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/functions.json": {
      "get": {
        "summary": "The function list",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/evidence/{id}.json": {
      "get": {
        "summary": "One evidence file as filed",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/changes.json": {
      "get": {
        "summary": "The last hundred changes",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/search-index.json": {
      "get": {
        "summary": "The search index",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
